# Dictionaries
- key-value pair

---

In [1]:
students : list[str ]= ["Alice", "Bob", "Charlie"]
scores : list[int] = [85, 92, 78]

- {key:value},

In [2]:
students_scores = {"Alice": 85, "Bob": 92, "Charlie": 78}

In [5]:
# Accessing a value using a key
print(students_scores["Alice"])  # Output: 85

# Using the get() method
# print(students_scores.get("Bob"))  # Output: 92

85
92

In [9]:
# print(students_scores["Usman"])
print(students_scores.get("Usman"))

None

In [ ]:
names = {1:"Rehan", 2: "Usman", 3:"Mazhar"}

In [ ]:
names = {1.0:"Rehan", 2.0: "Usman", 3.0:"Mazhar"}

In [ ]:
names = {True:"Rehan", False: "Usman", False:"Mazhar"}

In [10]:
# names = {[1,2,3]:"Rehan", False: "Usman", False:"Mazhar"}

TypeError: unhashable type: 'list'

In [12]:
names = {True:{1:"Rehan"}, False: ["Rehan","Usman"], False:"Mazhar"}
print(names)

{True: {1: 'Rehan'}, False: 'Mazhar'}

In [13]:
print(names[False])

Mazhar

In [15]:
student_details = {}
student_details["name"] = "Rehan"
print(student_details)

{'name': 'Rehan'}

In [16]:
student_details["name"] = "Usman"
print(student_details)

{'name': 'Usman'}

In [17]:
del student_details["name"]
print(student_details)

{}

In [19]:
student_details.append("name":"mazhar")

SyntaxError: invalid syntax (<ipython-input-19-f124c1199e59>, line 1)

In [20]:
# prompt: append "name":"mazhar" in students_details

student_details["name"] = "mazhar"
print(student_details)

{'name': 'mazhar'}

In [ ]:
# prompt: add "name":"mazhar" through any other way

student_details = {"name": "mazhar"}
print(student_details)

In [22]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [25]:
students_scores = {"Alice": 85, "Bob": 92, "Charlie": 78}

for score in students_scores:
    print(f"key is {score} and corresponding value is {students_scores[score]}")

key is Alice and corresponding value is 85
key is Bob and corresponding value is 92
key is Charlie and corresponding value is 78

In [26]:
students_scores.values()

dict_values([85, 92, 78])

In [27]:
students_scores.keys()

dict_keys(['Alice', 'Bob', 'Charlie'])

In [28]:
students_scores.items()

dict_items([('Alice', 85), ('Bob', 92), ('Charlie', 78)])

In [35]:
students_scores = {"Alice": 85, "Bob": 92, "Charlie": 78}

for key,value in students_scores.items():
    print(f"key is {key} and corresponding value is {value}")

key is Alice and corresponding value is 85
key is Bob and corresponding value is 92
key is Charlie and corresponding value is 78

In [30]:
values : dict[int,int] = {x:x for x in range(5)}
print(values)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4}

In [33]:
fruits : list[str] = ["apple", "banana", "orange"]
fruits_dict : dict[int,str] = {key:value for key, value in enumerate(fruits)}
print(fruits_dict)

# for i,fruit in enumerate(fruits):
#     print(i,fruit)

{0: 'apple', 1: 'banana', 2: 'orange'}

# Functions
---

In [38]:
# 1- Define the function
def greet ():
    # function body
    print("Hello Class!")

# 2- Invokation / Call
greet()

greet()

greet()

Hello Class!
Hello Class!
Hello Class!

In [40]:

def addition ():
    x = 4
    y = 8
    print(x + y)

addition()
addition()
addition()

12
12
12

In [43]:
def addition (x, y):
    result = x + y
    print(result)


addition(5, 10)

addition(15, 30)

15
45

In [48]:
# def addition (x, y):
#     result = x + y
#     print(result)


a = print("Rehan")
print(f"Value of a: {a}")

y = int("5")
print(f" value of {y}")

Rehan
Value of a: None
 value of 5

In [52]:
def addition (x, y):
    result = x + y
    return result

result1 = addition(4,5)
# print(result1)

print(4*result1)

36

In [58]:
def addition (x, y):
    if x < 10 or y < 10:
        print("hi")
        return
    return x + y


# print(addition(10,12))
print(addition(4,5))

hi
None

In [59]:

def return_multiple_values ():
    x = 4
    y = 5
    return x, y

print(return_multiple_values())

(4, 5)

In [64]:
def subtraction (x,y):
    return x - y

print(subtraction(10,7))

print(subtraction(7,10))

3
-3

In [63]:
def full_name (first_name, last_name):
    print(f"{first_name} {last_name}")

full_name("Rehan", "Khan")

full_name("khan", "Rehan")

Rehan Khan
khan Rehan

# Assignment
---

In [65]:
students_data = [
    {
        'name': 'John Doe',
        'marks': {
            'Math': 85,
            'English': 90,
            'Science': 78
        }
    },
    {
        'name': 'Jane Smith',
        'marks': {
            'Math': 75,
            'English': 82,
            'Science': 89
        }
    },
    {
        'name': 'Emily Davis',
        'marks': {
            'Math': 93,
            'English': 87,
            'Science': 85
        }
    },
    {
        'name': 'Michael Brown',
        'marks': {
            'Math': 65,
            'English': 70,
            'Science': 60
        }
    },
    {
        'name': 'Chris Johnson',
        'marks': {
            'Math': 88,
            'English': 85,
            'Science': 90
        }
    }
]

In [71]:
for student in students_data:
    total = student["marks"]["Math"] +student["marks"]["English"] +student["marks"]["Science"]
    print(f"total :{total}")

total :253
total :246
total :265
total :195
total :263