# Functions
---

In [1]:
# 1- Define the function
def greet ():
    # function body
    print("Hello Class!")

# 2- InvoCation / Call
greet()

greet()

greet()

Hello Class!
Hello Class!
Hello Class!

In [2]:

def addition ():
    x = 4
    y = 8
    print(x + y)

addition()
addition()
addition()

12
12
12

In [3]:
def addition (x, y):
    result = x + y
    print(result)


addition(5, 10)

addition(15, 30)

15
45

In [4]:
# def addition (x, y):
#     result = x + y
#     print(result)


a = print("Rehan")
print(f"Value of a: {a}")

y = int("5")
print(f" value of {y}")

Rehan
Value of a: None
 value of 5

In [5]:
def addition (x, y):
    result = x + y
    return result

result1 = addition(4,5)
print(result1)

print(4*result1)

9
36

In [7]:
def addition (x, y):
    if x < 10 or y < 10:
        print("hi")
        return
    return x + y

print(addition(10,9))
print(addition(10,12))
print(addition(4,5))

hi
None
22
hi
None

In [8]:

def return_multiple_values ():
    x = 4
    y = 5
    return x, y

print(return_multiple_values())

(4, 5)

In [9]:
def subtraction (x,y):
    return x - y

print(subtraction(10,7))

print(subtraction(7,10))

3
-3

In [10]:
def full_name (first_name, last_name):
    print(f"{first_name} {last_name}")

full_name("Rehan", "Khan")

full_name("khan", "Rehan")

Rehan Khan
khan Rehan

# Assignment
---

In [11]:
students_data = [
    {
        'name': 'John Doe',
        'marks': {
            'Math': 85,
            'English': 90,
            'Science': 78
        }
    },
    {
        'name': 'Jane Smith',
        'marks': {
            'Math': 75,
            'English': 82,
            'Science': 89
        }
    },
    {
        'name': 'Emily Davis',
        'marks': {
            'Math': 93,
            'English': 87,
            'Science': 85
        }
    },
    {
        'name': 'Michael Brown',
        'marks': {
            'Math': 65,
            'English': 70,
            'Science': 60
        }
    },
    {
        'name': 'Chris Johnson',
        'marks': {
            'Math': 88,
            'English': 85,
            'Science': 90
        }
    }
]

In [12]:
for student in students_data:
    total = student["marks"]["Math"] +student["marks"]["English"] +student["marks"]["Science"]
    print(f"total :{total}")

total :253
total :246
total :265
total :195
total :263