# Lesson 6: Data in Python

There are different types of data in Python. Here, you will see how text and numbers are used in Python.

## Strings

Strings are used to store and manipulate text. As you see here, strings are written inside of quotes and can contain letters, numbers, punctuation marks, and other special characters. Run the following cells to print these four different strings.

In [1]:
print("Hello, World")

Hello, World

In [2]:
print("My favorite drink is Earl Grey tea.")

My favorite drink is Earl Grey tea.

In [3]:
print("¯\_(ツ)_/¯")

¯\_(ツ)_/¯

In [4]:
print("2.99")

2.99

## Multiline strings

If you use triple quotation marks, you can store a multiline string. These strings can span more than one line. When you run the following cell, you will see how the spaces in the second line are actually read as characters for the string.

In [5]:
print("""Hello, World!
      It's great to be here!""")

Hello, World!
      It's great to be here!

In [6]:
print("""Hello, World!
It's great to be here!""")

Hello, World!
It's great to be here!

Trying to define a multiline string using single quotes will lead to errors.

In [7]:
print("Hello, World!
      It's great to be here!")

SyntaxError: EOL while scanning string literal (3226184648.py, line 1)

In [8]:
print("""Hello, World!
      It's great to be here!""")

Hello, World!
      It's great to be here!

## The type() function

In Python, you can check the type of any data that you are using. To check the data type, you can use the `type()` function. When you run the next cell, you will retrieve the type for the string `"Andrew"`.

In [9]:
type("Umair")

str

Python returned `str`, which is short for string. Let's check the type for a multiline string:

In [10]:
type("""
Numbers, text, and truth,
Strings, ints, and floats in our code,
Data shapes our path
""")

str

This also returns `str`, since it is also a string. Let's try a number within quotation marks:

In [11]:
type("2.99")

str

This is also a string, even though it looks like a number. By using quotation marks you're telling Python to treat it as text, rather than a number. What about a number without quotes?

In [12]:
type(100)

int

This time you get `int`, which is short for integer. Integers are the positive and negative whole numbers, like 42, 100, -9, and 0. Since there are no quotes around the number Python assumes this is numerical data, and since there is no decimal place on this number, it interprets it as an integer. Now, let's try a number that does have decimal places:

In [13]:
type(2.99)

float

The function type gives `float`, which is the data type used to store floating point numbers. Floating point numbers are positive and negative numbers that include a decimal place, like 3.14, 2.99, and -0.003.

## Python as a calculator!

Python works great for quick arithmetic operations. For instance, if you had a lemonade stand, and wanted to compute the total number of sales you made through the last 12 months, you can use Python like this:

In [14]:
print(28+35+43+50+65+70+68+66+75+80+95)

675

In [17]:
print(28+35+430+50+65+70+68+66+75+80+95)

1062

As another example, you can perform more advanced math, like computing the compound interest after 10 years at a rate of 5%. To do that, you can compute 1.05 to the power of 10. Not sure how to do it in Python? You can use the Chatbot!

In [19]:
print((1 + 0.05) ** 10)

1.628894626777442

In [18]:
print(1.05 ** 10)

1.628894626777442

In [20]:
print(pow(1 + 0.05, 10))

1.628894626777442

For example, if you want to compute the compound interest for $1000 after 10 years at an annual interest rate of 5%, you would do the following:

In [21]:
print(1000 * (1 + 0.05) ** 10)

1628.894626777442

In [22]:
print(1000 * pow(1 + 0.05, 10))

1628.894626777442

<p style="background-color:#F5C780; padding:15px"> 🤖 <b>Use the Chatbot</b>: How do I compute 1.05 to the power of 10?
</p>

In [23]:
print("Complete with chatbot code")

Complete with chatbot code

### Order of operations

The order of operations in Python follows the same rules as arithmetic, often remembered with the acronym PEMDAS:

Parentheses (P):
Expressions inside parentheses () are evaluated first.
Exponents (E):
Exponents ** are computed next.
Multiplication (M) and Division (D):
These operations *, /, // (floor division), and % (modulus) are performed from left to right.
Addition (A) and Subtraction (S):
These operations + and - are evaluated last, also from left to right.

In [24]:
print(3 + 4 * 2 / (1 - 5)**2)

3.5

Breaking it down step-by-step:

Parentheses: Evaluate the expression inside:

(1 - 5) becomes -4.
Exponents: Evaluate any exponents next:

(-4)**2 becomes 16.
Multiplication and Division: From left to right:

4 * 2 becomes 8.
8 / 16 becomes 0.5.
Addition: Finally, add:

3 + 0.5 becomes 3.5.

The order of operations in Python is the same as in arithmetic. First, you compute parentheses, then exponents, then you multiply and divide (from left to right), and finally, you add and subtract (from left to right). 

So, if you are trying to convert from Fahrenheit to Celsius, the following cell will give you an incorrect answer:

In [25]:
print(75 - 32 * 5 / 9)

57.22222222222222

Whereas the computation in this cell is correct.

In [26]:
print((75 - 32) * 5 / 9)

23.88888888888889

Order of Operations in Python
Here is the comprehensive list from highest precedence to lowest precedence:

Parentheses ():

Grouping expressions to ensure specific order of evaluation.
Exponents **:

Raising to a power.
Unary plus and minus +x, -x:

Positive or negative sign.
Multiplication *, Division /, Floor Division //, and Modulus %:

These are performed from left to right.
Addition + and Subtraction -:

These are performed from left to right.
Bitwise Shifts <<, >>:

Left and right bitwise shifts.
Bitwise AND &:

Bitwise AND operation.
Bitwise XOR ^:

Bitwise XOR operation.
Bitwise OR |:

Bitwise OR operation.
Comparison Operators ==, !=, >, >=, <, <=:

Compares two values.
Logical NOT not:

Negates a boolean value.
Logical AND and:

Logical AND operation.
Logical OR or:

Logical OR operation.
Assignment Operators =, +=, -=, *=, /=, etc.:

These assign values to variables. They have the lowest precedence, meaning all other operations are performed before assignment.
Examples
Comparisons and Logical Operators
Consider the following example:

In [27]:
result = (5 + 3) * 2 > 5 and not (3 + 1 == 4)
print(result)

False

Breaking it down:

Parentheses: Evaluate inside:

(5 + 3) becomes 8.
(3 + 1) becomes 4.
Multiplication:

8 * 2 becomes 16.
Comparison:

16 > 5 becomes True.
3 + 1 == 4 becomes True.
Logical NOT:

not True becomes False.
Logical AND:

True and False becomes False.

### Try for yourself!
Try printing text with mixed numbers and letters, or just symbols, then check the type. Try multiline strings using the triple quotes. If you make any mistakes, as the chatbot for help.

In [29]:
string="Umair"
print(string)

Umair

In [30]:
type(string)

str

In [31]:
Int=10
print(Int)

10

In [32]:
type(Int)

int

In [33]:
float=6.88888
print(float)

6.88888

In [34]:
type(float)

float

Fix the errors in the following code cells.

In [35]:
# Fix the error in the following code
print(There are 366 days in a leap year")

SyntaxError: invalid syntax (4233662598.py, line 2)

In [36]:
print("There are 366 days in a leap year")

There are 366 days in a leap year

In [37]:
# Fix the error in the following code
print("There are 366 
days in a leap year")

SyntaxError: EOL while scanning string literal (3305908883.py, line 2)

In [38]:
print("""There are 366 
days in a leap year""")

There are 366
days in a leap year

A foot was defined as exactly 0.3048 meters in 1959. Convert 6 feet to meters.

In [39]:
# Write code to convert 6 feet to meters
print("Convert 6 feet to meters")

Convert 6 feet to meters

To convert feet to meters, you use the conversion factor where 1 foot equals 0.3048 meters. For 6 feet, you'll multiply 6 by 0.3048.

In [42]:
print(6 * 0.3048)

1.8288000000000002

In [41]:
meters=0.3048
feet=6
convert=meters*feet
print(f"The Converted 6 feet to meters is equal to {convert}.")

The Converted 6 feet to meters is equal to 1.8288000000000002.